.footer a,p{
    line-height: 50px;
    color: #fff;
    text-decoration: none;

}
footer{
    margin-top: 50px;
   

}
.footer p{
    color: black;
}
.footer-top-part{
    height: 100px;
}
.footer a{
    color: rgba(130, 100, 100, 0.657)

}
.footer a:hover{
    color: red;

}